#map {
        height: 600px;
        width: 80%;
        margin-bottom: 4%;
        margin-left: 10%;

       }

#intro {
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;
	vertical-align: center;
	
}

h1 {
	text-align: center;
	padding-top: 2%;
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-size: 500%;
	color: #DB5461;
	margin-bottom: 0;

}
h2 {
	text-align: center;
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-size: 150%;
	color: #9EA8A6;
	margin-bottom: 0;
	padding-bottom: 2%;
}

#last_p {
	padding-bottom: 2%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F1EDEE;
}

p {
	line-height: 200%;
	color: #3D5467;
}

.dots {
	text-align: center;
	color: #9EA8A6;
	opacity: 0.7;
	padding-bottom: 4%;
	padding-top: 0;
	margin-top: 0;
}

#end {
	text-align: center;
	font-family: 'Cardo', serif;
	font-weight: 400;
	font-size: 100%;
	color: #9EA8A6;
	opacity: 0.8;
	padding-top:0;
	padding-bottom: 4%;
}